.weathers {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

h1 {
  color: #0dcaf0;
  margin-top: 10px;
}

.city {
  color: black;
}
.extras {
  display: block;
  margin: 0 auto;
}
